# Monorepo root ignore

# dependencies
**/node_modules/

# Next.js
**/.next/
**/out/
**/next-env.d.ts

# build outputs
**/dist/
**/build/
**/coverage/

# environment files
**/.env
**/.env.*

# package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# Vercel
**/.vercel/

# TypeScript
**/*.tsbuildinfo
